*
{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
}

.navbar
{
background-color: grey;
position: sticky;
top : 0;
width : 100vw;
}

main
{
    width : 100vw;
    height: 100vh;
}
.navbar ul
{
    width : 100%;
    display : flex;
    justify-content: center;
}

.navItem
{
    padding : 0.5rem;
    margin : 0.5rem 0.9rem;
    list-style: none;
    color : whitesmoke;
}

.navItem:hover
{
    background-color: lightblue;
}