*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1
{
    font : bold;
    font-size: 2em;
}

.main-ctr
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width : auto;
    height: auto;
}

.row
{
    display: flex;
}

.stateturn
{
    margin-top : 3em;
    margin-bottom: 1.5em;
    text-align: center;
    border : 4px solid lightblue;
    font-family: Arial, Helvetica, sans-serif;
    padding : 0.6em;
    box-shadow: 0px 0.1em 0.2em 0.05em rgb(0,0,0,0.5);
    color : grey;
}

.box 
{
    margin : 0.4em;
    border-radius: 0.2em;
    text-align: center;
    font-size : 2em;
    border : 4px solid lightblue;
    padding : 3em;
    transition : all 0.2s ease 0s;
}

.box:hover
{
    background-color : rgb(241, 241, 241);
}

.gamestateBtn
{
    color : white;
    background-color: #368aba;
    padding : 0.7em;
    margin-top: 0.2em;
    padding-right: 1.2em; 
    padding-left: 1.2em; 
    border : none;
    box-shadow : 0px 0px 0.1em rgb(0,0,0,0.2);
}