*
{
    margin : none;
    padding : none;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container
{
    display: flex;
    flex-direction: column;
    flex-wrap : nowrap;
    width : 400px;
    height: 400px;
    border : solid black;
}

.row
{
    display : flex;
    flex : 1;
    flex-wrap: nowrap;
    border: solid 1px pink;
    width : 100%;
}

.box 
{
    flex :  1;
    width : auto;
    padding : auto;
    height: auto;
}