*
{
    box-sizing: border-box;
    margin: 0;
    padding : 0;
}

body
{
    background-color :rgb(201, 158, 232);
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.choice-ctr
{
    display : flex;
    flex-wrap: nowrap;
    width: 100%;
    height : 30%;
    justify-content: space-around;
    align-items: center;
}

.choice
{
    max-width: 100%;
    max-height: 100%;
    height : 100%;
    text-align:center;
    color : whitesmoke;
}

.choice-img
{
    max-width: 100%;
    max-height: 80%;
    height: auto;
    display : block;
    object-fit: contain;
    margin : 1em;
    margin-bottom: 6px;
    border-radius : 0.8em;
}

.choose-container
{
    display: flex;
    margin : 1em;
    width : 80%;
    background-color : azure;   
    flex-direction: row;
    border-radius: 1em;
    flex-wrap: nowrap;
}

.a
{
    flex : 1;
    padding : 1.5em;
    text-align: center;
    font-size : 1.5rem;
    text-wrap: wrap;
}

/*WHEN WORKING WITH IMAGES SET THEIR DISPLAY type to block and then have easiblity in chanign
the dimensions of the image;
- if the containers size is not set then the childs size will also not be set;
- */
