*
{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
}
body
{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1
{
    font-size : 2rem;
    color : black;
    margin-top : 1rem;
}

.NotesContainer
{
    min-height: 60vh;
    min-width: 60vw;
    max-width: 80vw;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border : solid rgba(0,0,0,0.2) 2px;
}
.Note
{
    /* width : auto;
    height : auto;
    max-width : 40%;
    max-height : 20vh;
    */
    flex : 1;
    flex-basis : 30%;
    margin : 0.2rem;
    /* Optional: Styling for the child items */
  padding: 10px;
  position : relative;
  background-color: lightblue;
  border: 1px solid blue;
    text-align: center;
    font-size : 1.4rem;
    transition: background-color 0.3s ease-in;
}

.delete
{
    position : absolute;
    top : -15px;
    left : -15px;
    background-color : red;
    border-radius: 0.35rem;
    visibility:hidden;
}

.Note:hover
{
    background-color: grey;
    .delete
    {
        cursor : default;
        visibility: visible;
    }
}

.AddNotePopup
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color : grey;
    z-index : 999;
    min-width: 50vw;
    min-height: 50vh;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* if you can specify the flex shorthand property properly 
*/
.AddNotePopup input {
    width: 90%;
    align-self: center;
    padding : 0.8rem;
} /*
dont use flex size control mechanism on input it looks hideous
*/
.Popupbtns
{
    display: flex;
    flex :1;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cancel
{
    border : none;
    border-radius : 0.2rem;
    background-color: red;
    font-size : 1.5rem;
    padding : 0.8rem;
    color : white;
}
.add
{
    border : none;
    border-radius : 0.2rem;
    background-color: cyan;
    padding : 0.8rem;
    font-size : 1.5rem;
    color : black;
}
/*
    all fixed elements should be centered properly and not just 
    what u think is right like top : 25vw; but rather 50% of the body and such
*/
.addNotes
{
    margin-top : 1rem;
    padding : 1rem;
    border : none;
    border-radius : 0.2rem;
    transition: all 0.2s ease-in-out;
    transition : transform 0.9s ease-out;
}
.addNotes:hover
{
    background-color : grey;
    color : white;
    transform : scale(1.2);
}